{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>iPackage</title>

    <!-- Bootstrap core CSS -->
   <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link href="/static/CSS/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/CSS/base.css" rel="stylesheet">
    <!-- <link href="/static/CSS/material-dashboard.css?v=1.2.0" rel="stylesheet" /> -->
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <!-- <link href="/static/CSS/demo.css" rel="stylesheet" /> -->
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 py-4">
              <h4 class="text-white">درباره ی ما</h4>
              <p class="text-muted">بهترین بسته ی من ، به شما در مدیریت هزینه های اینترنت کمک می کند</p>
            </div>
            <div class="col-sm-4 py-4">
              <h4 class="text-white">لینک ها</h4>
              <ul class="list-unstyled">
                {% if request.user.is_authenticated %}
                <li><a href="/logout/" class="text-white">Log Out</a></li>
                {% else %}
                <li><a href="#" class="text-white">Log In</a></li>
                {% endif %}
                <li><a href="#" class="text-white">Compare Packages</a></li>
                <li><a href="#" class="text-white">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand">iPackage</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>


    
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
      </section>


    </main>

    <footer class="text-muted">
      <div class="container">
<!--         <p class="float-right">
          <a href="#">Back to top</a>
        </p> -->
        <p>&copy; iPackage is a new company in Telecom Industry , and has many miles to walk with you</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/JS/jquery.min.js"><\/script>')</script>
    <script src="/static/JS/popper.js"></script>
    <script src="/static/JS/bootstrap.min.js"></script>
    <script src="/static/JS/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
